.result__area {
    min-width: 100%;
    resize: none;
    background-color: #333541;
    color: #ffff;
    border: none;
    overflow: hidden;
    padding-bottom: 2rem;
    font-size: 0.7rem;
}

.success {
    color: #ffff;
}

.failed {
    color: red;
}

.compiling {
    color: greenyellow;
}
