.logo {
    color: #ffff;
    font-weight: 500;
}

.btn__main {
    background-color: #326DE5;
    color: #ffff;
    border-radius: 0.6rem;
    outline: none;
}

.btn__main:focus, .btn__main:active {
    outline: none;
}

.input__share {
    background-color: #383A47;
    color: #775A93;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 300px;
    padding: 0 0.5rem;
}
